@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200&family=Roboto&display=swap");

/*font-family: 'Fredoka One', cursive; font do logo*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: rgb(5, 0, 88);
  background: linear-gradient(360deg,
      rgb(5, 0, 88) 8%,
      rgba(255, 166, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#ffa600", GradientType=1);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-width: 360px;
}

/* textos comuns*/


/*container*/
.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  min-width: 365px;
  max-width: 1600px;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-self: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*barra de navegação*/
.barra_menu {
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  height: 80px;
}

.barra_menu .logo {
  width: auto;
  min-width: 365px;
  margin: auto 0;
}

.barra_menu .logo a {
  font-family: "Fredoka One", cursive;
  font-size: 2.5rem;
  color: rgb(221, 219, 217);
  text-shadow: 1px 5px 5px rgb(158, 42, 42);
}

.logo a:hover {
  color: rgba(239, 255, 8, 0.938);
  transition: 0.2s ease-in;
}

.menu {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 60%;
  display: flex;
  height: auto;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.menu ul {
  text-decoration: none;
  display: flex;
}

.menu ul li {
  margin-left: 50px;
}

.menu ul li a {
  font-size: 20px;
  color: rgb(9, 45, 190);
  text-transform: uppercase;
  padding: 10px;
  transition: color 0.3s ease-in;
}

.menu a:hover {
  color: #ffffff;
}

/*/fim barra navegação*/

/*Caixa texto*/
.banner_central {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin-top: 150px;


}

.texto_principal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  align-items: center;
  text-align: center;

}

.texto_principal h1 {
  font-size: 2.8rem;
  text-align: center;
  margin: 80px 0;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  color: #fff;
  text-shadow: 1px 3px 3px rgb(52, 59, 2);
  box-sizing: border-box;
}

.texto_principal p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 1rem;
  color: #ccc;
  padding: 10px;
  margin-bottom: 50px;

}

.texto_principal button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 30px 80px;
  text-transform: uppercase;
  padding: 15px;
  background-color: rgb(255, 127, 80);
  transition: 0.2s ease-in;
  box-shadow: 1px 1px 25px 5px rgba(80, 18, 18, 0.671);
  box-shadow: 1px 1px 30px 10px rgb(241, 23, 23);

}

.texto_principal a {
  font-family: "Poppins", sans-serif;
  font-weight: 999;
  color: #fff;
  font-size: 1.4em;
  padding: 10px;
  transition: 0.5s ease-in;
  letter-spacing: 5px;
  font-stretch: condensed;
}

/*animação do botão*/
.texto_principal button:hover {
  background: linear-gradient(267deg, #d5aa24, #8da332);
  background-size: 400% 400%;
  transition: 0.5s ease-in;
  transform: scale(1.1);
  animation: buttonPet 2s ease-in-out infinite;
}

@keyframes buttonPet {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

/* /fim animação do botão*/
.imagem_promocional {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}

.imagem_promocional img {
  border-radius: 50%;
  width: 70%;
  opacity: 0.9;
  border: 2px solid #62b119;
}

.legenda_foto {
  color: rgba(204, 204, 204, 0.589);
  font-size: 0.6rem;
  display: none;
}

/*Banner Contato api Whats*/
.bannerContato {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;


}

.imgContatoWhats {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;

  align-content: center;
  justify-content: flex-end;
}

.imgContatoWhats img {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 80%;

}

.icoWhats {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;

}

.icoWhats a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 30px;
  font-size: 20px;
  text-shadow: 3px 5px rgba(6, 54, 144, 0.5);
}

.icoWhats i {
  font-size: 10rem;
  color: #8da332;
}

.icoWhats span {
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*Depoimentos*/
.avaliacoes {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card_avaliacoes {
  height: 120px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.depo_img {
  box-sizing: border-box;
}

.depo_img img {
  width: 120px;
  height: 120px;
}

.depoTexto {
  font-family: "Poppins", sans-serif;
  color: rgb(197, 184, 184);
}

/*rodape*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: rgba(219, 212, 212, 0.027);
  font-family: "Roboto"sans-serif;
  box-sizing: border-box;
}

/*Menu  footer*/
.navfooter ul {
  list-style-type: none;
  display: flex;
  width: 300px;
}

.navfooter li {
  margin: 0 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navfooter a {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  transition: color 0.5s ease-in;
  color: rgb(255, 255, 255);
}

.navfooter a:hover {
  color: rgb(149, 20, 20);
}

/*Detalhes da Empresa*/
.barraMeio {
  width: 300px;

  color: rgb(180, 180, 180);
  text-align: center;
}

.barraMeio span {
  display: inline-block;
  width: 200px;
  padding: 0;
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.barraDireita {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 2.3em;
}

.barraDireita a {
  color: #fff;
  margin-left: 20px;
  padding: 10px;
}

.barraDireita a:hover {
  color: rgb(247, 144, 144);
  margin-left: 20px;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  100% {
    -webkit-transform: scale3d(1.13, 1.13, 1.13);
    transform: scale3d(1.13, 1.13, 1.13);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  100% {
    -webkit-transform: scale3d(1.13, 1.13, 1.13);
    transform: scale3d(1.13, 1.13, 1.13);
  }
}